<!DOCTYPE html>
<html lang="en" >
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta name="description" content="Découvrez les différents produits de la marque Borrador: Borrador Pousse, Borrador Vert, Borrador Super, Borrador Fresh">
   <meta http-equiv="content-type" content="text/html; charset=UTF-8">
   <title>Borrador : site officiel | Borradorcosmetiques.com</title>
  <!-- products -->
  <link rel="icon" href="./images/borrador-logo.jpg" type="jpg" sizes="18x18" class="img-rounded">
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css'>
   <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css'>
   <link rel="stylesheet" href="./stylesheets/products.css">

  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/css/swiper.min.css'>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css'>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/typicons/2.0.8/typicons.min.css'>
  
  <link rel="stylesheet" href="./stylesheets/home.css">
  <link rel="stylesheet" href="./stylesheets/index_description.css">
  <link rel="stylesheet" href="./stylesheets/footer.css">

   <!--bootstrap 5 CSS only -->
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">  

   <!--testimonies -->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
   <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,700'>
   <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css'>
   <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'>
   <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css'>
   <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css'>
   <link rel="stylesheet" href="./stylesheets/testimonies.css">
</head>

<body>

   <%- include about %>

   <%- include index_nav %>

   <%- include index_carousel %>

   <%- include products %>

   <%- include testimonies %>

   <%- include index_description %>


<div class="wrapper">
   <section class=" videos">
      <h3 class="section-title"><span>Vidéos</span><b>récentes</b></h3>
      <div class="content">

         <!-- video item -->

         <a class="video-item" data-video="https://www.youtube.com/embed/uMs7tCPdsIY" data-url="https://www.youtube.com/watch?v=uMs7tCPdsIY">
            <p class="video-title">Bouclage cheveux</p>
            <span class="video-icon"></span>
            <img src="./images/borrador-bouclage-2.jpg" alt="borrador-bouclage">

         </a>

         <!-- video item -->
         <a class="video-item" data-video="https://www.youtube.com/embed/z78CvSSwEMA" data-url="https://www.youtube.com/watch?v=z78CvSSwEMA">
            <p class="video-title">Borrador pour vagues (partie 1)</p>
            <span class="video-icon"></span>
            <img src="./images/borrador-vague-1.jpg" alt="borrador-vague">
         </a>

         <!-- video item -->

         <a class="video-item" data-video="https://www.youtube.com/embed/Fy1xQSiLx8U" data-url="https://www.youtube.com/watch?v=Fy1xQSiLx8U">
            <p class="video-title">Borrador pour vagues (partie 2)</p>
            <span class="video-icon"></span>
            <img src="./images/borrador-vague-2.jpg" alt="borrador-vague">
         </a>

      </div>

      <div class="modal-video">

         <div class="wrapper-video">
            <i class="close-video"></i>

            <div class="video-container">
               <div class="video-code">
                  <iframe width="1920" height="1080" src="" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
               </div>

               <!-- <a href="" class="yt-link" target="_blank">view on youtube</a>-->
            </div>

         </div>

      </div>
   </section>
</div>

<%- include footer %>

<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/js/swiper.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/js/swiper.min.js'></script>
<script  src="./scripts/home.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- products -->
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script><script  src="./scripts/products.js"></script>

<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/js/swiper.min.js'>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://kit.fontawesome.com/0d148ec622.js" crossorigin="anonymous"></script>
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

<!-- testimonies partial -->
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js'></script>
<script  src="./scripts/testimonies.js"></script>

</body>
</html>
